<template>
	<require from="components/spinner/spinner.html"></require>

	<spinner if.bind="signOutPending"></spinner>

	<div
		class="flex-grow md:flex-grow-0 flex-shrink md:flex-shrink-0 flex items-center justify-center md:justify-start h-full mr-auto md:mr-0 ${router.navigation.length ? 'ml-0' : 'ml-auto'} select-none">
		<img class="w-10 h-10 pb-1 ml-4" src="./app-logo.png" />
		<a class="pb-1 font-sans font-bold text-3xl text-white tracking-tighter cursor-pointer no-underline rounded-2 focusable"
			route-href="route: persons">אפליקציה</a>
	</div>
	<div
		class="hidden ${router.navigation.length ? 'md:flex' : ''} flex-grow-0 flex-shrink-0 items-center justify-start h-full mr-4 gap-4 select-none">
		<a repeat.for="route of router.navigation | allowedRoutes:userService.identity.roles" href.bind="route.href"
			class="cursor-pointer ${route.isActive ? 'underline' : ''}">
			${route.title}
		</a>
	</div>
	<div class="h-full flex-shrink-0 flex-center-start gap-4 mr-auto ml-0 select-none">
		<div class="h-10 hidden md:flex items-center justify-center text-white gap-1">
			<span class="whitespace-nowrap overflow-hidden overflow-ellipsis">
				שלום ${userService.identity.username}
			</span>
		</div>
		<span class="w-px h-6 bg-white opacity-50 rounded-full"></span>
		<button type="button" if.bind="userService.isSignedIn" class="tw-button w-10 md:w-auto button-transparent-white"
			click.delegate="signOutHandler()">
			<span class="hidden md:inline-block whitespace-nowrap overflow-hidden overflow-ellipsis">יציאה</span>
		</button>
	</div>
</template>