<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- DB configuration-->
		<add key="GenericContextConnectionString" value="data source = (localdb)\MSSQLLocalDB; initial catalog = Aleph1.Skeletons.WebAPI.GenericContext; integrated security = SSPI; MultipleActiveResultSets = True; App = EntityFramework" />
	</appSettings>
</configuration>