<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aleph1.DI.Contracts" version="3.3.0" targetFramework="net471" />
  <package id="Aleph1.Logging" version="5.1.0" targetFramework="net471" />
  <package id="Aleph1.Utilities" version="3.3.0" targetFramework="net471" />
  <package id="NLog" version="4.6.3" targetFramework="net471" />
  <package id="PostSharp" version="6.2.6" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Redist" version="6.2.6" targetFramework="net471" />
</packages>