<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aleph1.DI.Contracts" version="3.3.2" targetFramework="net48" />
  <package id="Aleph1.DI.CustomConfigurationSection" version="3.3.1" targetFramework="net48" />
  <package id="Aleph1.DI.UnityImplementation" version="3.3.2" targetFramework="net48" />
  <package id="Aleph1.Logging" version="6.0.1" targetFramework="net48" />
  <package id="Aleph1.Utilities" version="3.3.1" targetFramework="net48" />
  <package id="Aleph1.WebAPI.ExceptionHandler" version="3.1.2" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.3" allowedVersions="[, 9.0.0)" targetFramework="net48" />
  <package id="FluentValidation.ValidatorAttribute" version="8.6.1" targetFramework="net48" />
  <package id="FluentValidation.WebApi" version="8.6.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Net.Compilers" version="3.7.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.7.4" targetFramework="net48" />
  <package id="NLog.Schema" version="4.7.4" targetFramework="net48" />
  <package id="NLog.Web" version="4.9.3" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="PostSharp" version="6.6.13" targetFramework="net48" developmentDependency="true" />
  <package id="PostSharp.Redist" version="6.6.13" targetFramework="net48" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net48" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net48" />
  <package id="Unity.AspNet.WebApi" version="5.11.2" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
  <package id="WebApiThrottle" version="1.5.4" targetFramework="net48" />
</packages>