<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<Aleph1.DI xdt:Transform="Replace">
		<base path="Modules\net48" />
		<modules>
			<module path="Aleph1.Skeletons.WebAPI.Security.Implementation.dll" />
			<module path="Aleph1.Skeletons.WebAPI.Captcha.Implementation.dll" />
			<module path="Aleph1.Skeletons.WebAPI.DAL.Implementation.dll" />
			<module path="Aleph1.Skeletons.WebAPI.BL.Implementation.dll" />
		</modules>
	</Aleph1.DI>
	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DocumentationDirPath" value="Documentation" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Environment" value="Prod" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EnableSwagger" value="false" />

		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="EnableCORS" value="false" />
		<add xdt:Transform="Remove" xdt:Locator="Match(key)" key="Origins" />
		<add xdt:Transform="Remove" xdt:Locator="Match(key)" key="Headers" />
		<add xdt:Transform="Remove" xdt:Locator="Match(key)" key="Methods" />
		<add xdt:Transform="Remove" xdt:Locator="Match(key)" key="ExposedHeaders" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors xdt:Transform="Remove" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add xdt:Transform="Insert" name="X-XSS-Protection" value="1; mode=block"/>
				<add xdt:Transform="Insert" name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains"/>
				<add xdt:Transform="Insert" name="X-Content-Type-Options" value="nosniff"/>
				<add xdt:Transform="Insert" name="X-Frame-Options" value="DENY"/>
				<add xdt:Transform="Insert" name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline'; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data:; font-src 'self' data: https://fonts.gstatic.com; object-src 'self' data:; frame-src 'self' data:; script-src 'self' 'sha256-CHANGE_THIS'" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>