<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
		<section name="Aleph1.DI" type="Aleph1.DI.CustomConfigurationSection.ModulesSection, Aleph1.DI.CustomConfigurationSection" />
	</configSections>

	<!-- Specify the DLLs to be loaded into the dependency injection container -->
	<Aleph1.DI>
		<base path="..\Output\Dev\Modules\net48" />
		<modules>
			<module path="Aleph1.Skeletons.WebAPI.Security.Implementation.dll" />
			<!--<module path="Aleph1.Skeletons.WebAPI.Security.Mock.dll" />-->

			<module path="Aleph1.Skeletons.WebAPI.Captcha.Implementation.dll" />
			<!--<module path="Aleph1.Skeletons.WebAPI.Captcha.Mock.dll" />-->

			<!--<module path="Aleph1.Skeletons.WebAPI.DAL.Implementation.dll" />-->
			<module path="Aleph1.Skeletons.WebAPI.DAL.Mock.dll" />

			<module path="Aleph1.Skeletons.WebAPI.BL.Implementation.dll" />
		</modules>
	</Aleph1.DI>

	<!-- General application settings -->
	<appSettings>
		<!-- Specify the documentation directory for Swagger (all *.xml files will be loaded) -->
		<add key="DocumentationDirPath" value="..\Output\Dev\Documentation" />

		<!-- Specify the Token key in which we will look for the user token -->
		<add key="TokenKey" value="Token" />

		<!-- Authentication claims user inactivity max age, in minutes; 0 is unlimited -->
		<add key="ClaimsInactivityMaxAge" value="15" />

		<!-- Authentication claims auto-refresh max age, in minutes -->
		<add key="ClaimsRefreshMaxAge" value="360" />

		<!-- Authentication claims expiration max age, in minutes -->
		<add key="ClaimsExpirationMaxAge" value="720" />

		<!-- Current environment (for api/About) -->
		<add key="Environment" value="Dev" />

		<!-- Enable/disable Swagger -->
		<add key="EnableSwagger" value="true" />

		<!-- Cross-origin resource sharing configuration -->
		<add key="EnableCORS" value="true" />
		<add key="Origins" value="https://localhost:8080" />
		<add key="Headers" value="*" />
		<add key="Methods" value="*" />
		<add key="ExposedHeaders" value="*" />

		<!-- CAPTCHA configuration -->
		<add key="CaptchaApiUrl" value="https://www.google.com/recaptcha/api/siteverify" />
		<add key="CaptchaSecret" value="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe" />
	</appSettings>

	<!-- Database connection string template -->
	<connectionStrings>
		<add name="GenericContext" connectionString="data source = (localdb)\MSSQLLocalDB; initial catalog = Aleph1.Skeletons.WebAPI.DAL.GenericContext; integrated security = SSPI; MultipleActiveResultSets = True; App = EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Throttling policy -->
	<throttlePolicy limitPerSecond="4" limitPerMinute="20" ipThrottling="true" endpointThrottling="true" stackBlockedRequests="true">
		<rules>
			<!--Endpoint rules-->
			<add policyType="3" entry="api/sign-in" limitPerMinute="3" />
		</rules>
	</throttlePolicy>

	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime enableVersionHeader="false" targetFramework="4.8" />
	</system.web>

	<nlog autoReload="false" throwExceptions="false" internalLogLevel="Error" internalLogFile="Logs\nlog-internal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<default-wrapper xsi:type="RetryingWrapper" retryCount="5" retryDelayMilliseconds="5000" />
			<target xsi:type="File" name="TraceFile" encoding="utf-8" fileName="Logs\Aleph1.Skeletons.WebAPI.Trace.csv" keepFileOpen="false" archiveFileName="Logs\Archives\{#}.csv" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="7">
				<layout xsi:type="CsvLayout" withHeader="false" quoting="Nothing" delimiter="Pipe">
					<column name="CorrelationID" layout="${aspnet-item:variable=CorrelationID}" />
					<column name="Machine" layout="${machinename}" />
					<column name="User" layout="${event-properties:item=A1_UserName}" />
					<column name="Time" layout="${date}" />
					<column name="Level" layout="${level}" />
					<column name="Class" layout="${event-properties:item=A1_ClassName}" />
					<column name="Method" layout="${event-properties:item=A1_MethodName}" />
					<column name="Message" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${message}}}" />
					<column name="Exception" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${exception:Format=Type,Message,Data:MaxInnerExceptionLevel=10:InnerExceptionSeparator=_Inner Exception_ :InnerFormat=Type,Message,Data}}}" />
					<column name="Logger" layout="${logger}" />
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" writeTo="TraceFile" />
		</rules>
	</nlog>

	<system.webServer>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<clear />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="Documentation" />
					<add segment="Backup" />
					<add segment="Logs" />
					<add segment="Modules" />
				</hiddenSegments>
			</requestFiltering>
		</security>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
