<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
    <section name="Aleph1.DI" type="Aleph1.DI.CustomConfigurationSection.ModulesSection, Aleph1.DI.CustomConfigurationSection" />
  </configSections>

  <!-- Specify the DLLS to be loaded into the DI container -->
  <Aleph1.DI>
    <modules>
      <!--<module path="..\Output\Dev\Modules\Aleph1.Skeletons.WebAPI.Security.Implementation.dll" />-->
      <module path="..\Output\Dev\Modules\Aleph1.Skeletons.WebAPI.Security.Moq.dll" />

      <module path="..\Output\Dev\Modules\Aleph1.Skeletons.WebAPI.DAL.Implementation.dll" />
      <!--<module path="..\Output\Dev\Modules\Aleph1.Skeletons.WebAPI.DAL.Moq.dll" />-->

      <module path="..\Output\Dev\Modules\Aleph1.Skeletons.WebAPI.BL.Implementation.dll" />
    </modules>
  </Aleph1.DI>

  <appSettings>
    <!-- Specify the Documentation Dir (the app will load all *.xml files) for swagger -->
    <add key="DocumentationDirPath" value="..\Output\Dev\Documentation" />

    <!-- Specify the AuthenticationHeader key in witch we will look for the Authentication Ticket -->
    <add key="AuthenticationHeaderKey" value="AuthenticationInfo" />

    <!-- Specify the amount of time (in minutes) for the Authentication Ticket life span - 0 is unlimited -->
    <add key="TicketDurationMin" value="15" />

    <!-- Current environment (for api/About) -->
    <add key="Environment" value="Dev" />

    <!-- Enable/Disable Swagger creation -->
    <add key="EnableSwagger" value="true" />

    <!-- CORS Configurations -->
    <add key="EnableCORS" value="true" />
    <add key="Origins" value="http://localhost:8080" />
    <add key="Headers" value="*" />
    <add key="Methods" value="*" />
    <add key="ExposedHeaders" value="AuthenticationInfo" />
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.9.0" newVersion="6.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.1.0" newVersion="5.11.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <throttlePolicy limitPerSecond="10" limitPerMinute="60" limitPerHour="1200" limitPerDay="10000" limitPerWeek="50000" ipThrottling="true" endpointThrottling="true" stackBlockedRequests="true"></throttlePolicy>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="false" throwExceptions="false" internalLogLevel="Error" internalLogFile="Logs\nlog-internal.log">
    <targets async="true">
      <default-wrapper xsi:type="RetryingWrapper" retryCount="5" retryDelayMilliseconds="5000" />
      <target xsi:type="File" name="TraceFile" encoding="utf-8" fileName="Logs\Aleph1.Skeletons.WebAPI.Trace.csv" keepFileOpen="false" archiveFileName="Logs\Archives\Aleph1.Skeletons.WebAPI.{#}.csv" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="7">
        <layout xsi:type="CsvLayout" withHeader="false" quoting="Nothing" delimiter="Pipe">
          <column name="CorrelationID" layout="${aspnet-item:variable=CorrelationID}" />
          <column name="Machine" layout="${machinename}" />
          <column name="User" layout="${event-properties:item=A1_UserName}" />
          <column name="Time" layout="${date}" />
          <column name="Level" layout="${level}" />
          <column name="Class" layout="${event-properties:item=A1_ClassName}" />
          <column name="Method" layout="${event-properties:item=A1_MethodName}" />
          <column name="Message" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${message}}}" />
          <column name="Exception" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${exception:Format=Type,Message,Data:MaxInnerExceptionLevel=10:InnerExceptionSeparator=_Inner Exception_ :InnerFormat=Type,Message,Data}}}" />
          <column name="Logger" layout="${logger}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="TraceFile" />
    </rules>
  </nlog>

  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="Logs"/>
          <add segment="Backup"/>
          <add segment="Documentation"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
