<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Aleph1.DI xdt:Transform="Replace">
    <modules>
      <module path="Modules\Aleph1.Skeletons.WebAPI.Security.Implementation.dll" />
      <module path="Modules\Aleph1.Skeletons.WebAPI.DAL.Implementation.dll" />
      <module path="Modules\Aleph1.Skeletons.WebAPI.BL.Implementation.dll" />
    </modules>
  </Aleph1.DI>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="DocumentationDirPath" value="Documentation" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="Environment" value="Test" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add xdt:Transform="Insert" name="X-XSS-Protection" value="1; mode=block"/>
        <add xdt:Transform="Insert" name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains"/>
        <add xdt:Transform="Insert" name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>