<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
		<section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle"/>
		<section name="Aleph1.DI" type="Aleph1.DI.CustomConfigurationSection.ModulesSection, Aleph1.DI.CustomConfigurationSection"/>
	</configSections>
	<!-- Specify the DLLS to be loaded into the DI container -->
	<Aleph1.DI>
		<base path="..\Output\Dev\Modules\net48" />
		<modules>
			<!--<module path="Aleph1.Skeletons.WebAPI.Security.Implementation.dll" />-->
			<module path="Aleph1.Skeletons.WebAPI.Security.Mock.dll" />

			<!--<module path="Aleph1.Skeletons.WebAPI.DAL.Implementation.dll" />-->
			<module path="Aleph1.Skeletons.WebAPI.DAL.Mock.dll" />

			<module path="Aleph1.Skeletons.WebAPI.BL.Implementation.dll" />
		</modules>
	</Aleph1.DI>
	<appSettings>
		<!-- Specify the Documentation Dir (the APP will load all *.xml files) for swagger -->
		<add key="DocumentationDirPath" value="..\Output\Dev\Documentation"/>

		<!-- Specify the AuthenticationHeader key in witch we will look for the Authentication Ticket -->
		<add key="AuthenticationHeaderKey" value="AuthenticationInfo"/>

		<!-- Specify the amount of time (in minutes) for the Authentication Ticket life span - 0 is unlimited -->
		<add key="TicketDurationMin" value="15"/>

		<!-- Current environment (for api/About) -->
		<add key="Environment" value="Dev"/>

		<!-- Enable/Disable Swagger creation -->
		<add key="EnableSwagger" value="true"/>

		<!-- CORS Configurations -->
		<add key="EnableCORS" value="true"/>
		<add key="Origins" value="http://localhost:8080"/>
		<add key="Headers" value="*"/>
		<add key="Methods" value="*"/>
		<add key="ExposedHeaders" value="AuthenticationInfo"/>
	</appSettings>

	<connectionStrings>
		<add name="GenericContext" connectionString="data source = (localdb)\MSSQLLocalDB; initial catalog = Aleph1.Skeletons.WebAPI.DAL.GenericContext; integrated security = SSPI; MultipleActiveResultSets = True; App = EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime enableVersionHeader="false" targetFramework="4.8"/>
	</system.web>
	<throttlePolicy limitPerSecond="4" limitPerMinute="20" ipThrottling="true" endpointThrottling="true" stackBlockedRequests="true">
		<rules>
			<!--Endpoint rules-->
			<add policyType="3" entry="api/login" limitPerMinute="6"/>
		</rules>
	</throttlePolicy>
	<nlog autoReload="false" throwExceptions="false" internalLogLevel="Error" internalLogFile="Logs\nlog-internal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets async="true">
			<default-wrapper xsi:type="RetryingWrapper" retryCount="5" retryDelayMilliseconds="5000"/>
			<target xsi:type="File" name="TraceFile" encoding="utf-8" fileName="Logs\Aleph1.Skeletons.WebAPI.Trace.csv" keepFileOpen="false" archiveFileName="Logs\Archives\{#}.csv" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="7">
				<layout xsi:type="CsvLayout" withHeader="false" quoting="Nothing" delimiter="Pipe">
					<column name="CorrelationID" layout="${aspnet-item:variable=CorrelationID}"/>
					<column name="Machine" layout="${machinename}"/>
					<column name="User" layout="${event-properties:item=A1_UserName}"/>
					<column name="Time" layout="${date}"/>
					<column name="Level" layout="${level}"/>
					<column name="Class" layout="${event-properties:item=A1_ClassName}"/>
					<column name="Method" layout="${event-properties:item=A1_MethodName}"/>
					<column name="Message" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${message}}}"/>
					<column name="Exception" layout="${replace:searchFor=\\n+:replaceWith= :regex=true:inner=${replace-newlines:${exception:Format=Type,Message,Data:MaxInnerExceptionLevel=10:InnerExceptionSeparator=_Inner Exception_ :InnerFormat=Type,Message,Data}}}"/>
					<column name="Logger" layout="${logger}"/>
				</layout>
			</target>
		</targets>
		<rules>
			<logger name="*" writeTo="TraceFile"/>
		</rules>
	</nlog>
	<system.webServer>
		<modules>
			<remove name="WebDAVModule"/>
		</modules>
		<handlers>
			<remove name="WebDAV"/>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<httpProtocol>
			<customHeaders>
				<clear/>
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="Documentation"/>
					<add segment="Backup"/>
					<add segment="Logs"/>
					<add segment="Modules"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+"/>
					<action type="Rewrite" value=""/>
				</rule>
			</outboundRules>
		</rewrite>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489B6ACCFAF20EF0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PostSharp" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.8.8.0" newVersion="6.8.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
