<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aleph1.DI.Contracts" version="3.3.2" targetFramework="net471" />
  <package id="Aleph1.Logging" version="6.0.1" targetFramework="net471" />
  <package id="Aleph1.Utilities" version="3.3.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="NLog" version="4.6.8" targetFramework="net471" />
  <package id="PostSharp" version="6.5.7" targetFramework="net471" developmentDependency="true" />
  <package id="PostSharp.Redist" version="6.4.7" targetFramework="net471" />
</packages>