<template>
	<div class="h-full p-4">
		<label>
			<span>masked: </span>
			<input mask.bind="options"
				class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none"
				value.bind="value" placeholder="מספר רשומה" disabled.bind="x" />
		</label>
		<button click.delegate="x = !x">click me</button>
		<label>
			<span>regular: </span>
			<input value.bind="value"
				class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none" />
		</label>
		<div>value: ${value}</div>
	</div>
</template>
