<!DOCTYPE html>
<html lang="he">

<head>
	<meta charset="utf-8">
	<title>Demo App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
	<link rel="icon" href="favicon.ico">
</head>

<body>
	<div id="app" aurelia-app="main"></div>
</body>

</html>